.mypy_cache
data/*
files/*
lib
logs
modules/testing
modules/.handlers.py
modules/memory-stats.py
old
plugins
testing
utils
.sync_2029786a737e.db
Dockerfile
.owncloudsync.log
_main.py
config.py
pypy-run.sh
python-run.sh
rundocker.sh
Pipfile
.dockerignore
.gitignore
modules/__pycache__
__pycache__
.idea
Pipfile.lock
modules/session_string_converter.py
modules/telethon_to_pyro.py